B {
	font-weight : bolder;
	color : #483D8B;
}

H1 {
 font-family : 楷体_GB2312, 行楷, 行书体;
	color : #00008B;
	margin-bottom : 20px;
	margin-top : 20px;
}


BODY {
	background : #F0FFF0 url(bg0100.JPG) repeat-y left;
	margin-left : 80px;
	font-family : 宋体,幼圆, 宋体 ;
	font-size : 16px;
	line-height : 20px;
	margin-top : 20px;
	margin-right : 40px;
}

HR {
	height : 1pt;
	color : #0000CD;
	}

